*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgba(199, 134, 37, 0.23);
    width: 100%;
    height: 1000px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: rgba(199, 134, 37, 0.449);
    position: relative;
}
.logo{
    width:400px;
}
.logo img{
    width:150px;
    cursor: pointer;
}
.menu{
    width: 30px;
    z-index: 10;
}
.header h2{
    font-size: 60px;
    width: 700px;
}
.header h2 span{
    color:aqua;
    margin-left: -10px;
}
.nav-menu{
    position: fixed;
    top:0;
    right:100px;
    width:350px;
    background-color: rgba(199, 134, 37, 0.63);
    z-index: 2;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap:50px;
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color:black;
    transition: .2s;
    text-transform: uppercase;
}
.active{
    color:aqua !important;
}
.nav-menu ul li a:hover{
    color:aqua;
}
.student-info{
    width:800px;
    margin: auto;
    margin-top: 80px;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap:40px;
}
.student-1{
    width:700px;
    padding:15px 50px 15px 50px;
    background-color: rgba(199, 134, 37, 0.449);
    border-radius: 20px;
}
.student-bio{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.student-bio img{
    width:35px;
    height:35px;
    border-radius: 50%;
}
.student-bio h4{
    font-size: 20px;
    width: 100px;
    flex:1;
}
.student-bio p{
    width: 120px;
    font-size: 16px;
    font-weight: 700;
}
.arrow-box{
    width: 100%;
    height:30px;
    cursor: pointer;
    position: relative;
}
.arrow-box img{
    width:25px;
    position: absolute;
    top:5px;
    right:20px;
}
.rotate{
    transform: rotate(180deg);
}
.student-des{
    margin-bottom: 10px;
}
.student-des p{
    font-size: 17px;
    line-height: 26px;
}
.hr{
    width:70%;
    margin:auto;
    height: 2px;
    background-color: rgba(19, 14, 7, 0.527);
    margin-bottom: 9px;
}






/* $("#menu").click(function(){
    $(".nav-bar").romoveClass(".nav-menu")
});

$("#menu").click(function(){
$(".nav-bar").addClass(".nav-menu-2")
}); */